.container {
  background-color: black;
}
/* .container h2 {
  color: #fff;
} */

.container p {
  color: #fff;
}
.heading {
  color: #fff;
  text-align: center;
  /* margin-top: 20px; */
  top: 60px !important;
  padding: 3rem;
}
.bg-color {
  background-color: #000;
}
.bg-color-modal {
  background-color: #fff;
  border-radius: 15px;
}

.first h1 {
  color: #fff;
  margin-top: 22px;
  font-size: 30px;
  /* margin-left: 12rem; */
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.first p {
  text-align: center;
  color: #fff;
  /* margin-top: 20px; */
  font-size: 16px;
  /* margin-left: 12rem; */
}

.secondmodal h1 {
  /* color: #fff; */
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
}
/* Moday Body code  */
.modal-header {
  /* background-color: #000; */
  background-color: #fff;
  /* color: #fff; */
  color: #000;
}
.first-modal-button {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.second-modal-button button {
  margin-bottom: 3rem;
}
.form-container-main {
  width: 50%;
  margin: auto;
  /* border: 2px solid black; */
  /* padding: 2rem 4rem; */
}

.numeric-button {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#numericButton {
  color: #fff;
}

.image {
  width: 50%;
  height: auto;
}

.image img {
  width: 75%;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
}
/* dropdown code  */

.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 30px; /* Adjust as needed */
}

.custom-dropdown select::-ms-expand {
  display: none;
}
.numeric_box label {
  color: #fff;
}
/* model code here  */
.second {
  text-align: center;
  /* background-color: #000; */
  background-color: #fff;
}
.second h3 {
  /* text-align: center; */
  /* color: #fff; */
  color: #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.estimate {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.estimate-details {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.estimate-details .detail {
  margin-bottom: 5px; /* Adjust this as needed */
}

#map {
  height: auto;
  width: 100%;
}
.estimate h5 {
  /* color: #fff; */
  color: #000;
}
.estimate p {
  /* color: #fff; */
  color: #000;
}
.first-modal-body {
  /* background-color: #000; */
  background-color: #fff;
  border-radius: 15px;
}
.payable {
  text-align: center;
  background-color: #fff;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.payable h4 {
  margin-bottom: 20px;
}
.payable p {
  margin-bottom: 20px;
}
.message p {
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.third-modal-body {
  /* background-color: #000; */
  background-color: #fff;
  border-radius: 15px;
}
/* loaction icon code here  */
.input-with-icon {
  position: relative;
}

.input-with-icon input[type="text"] {
  padding-right: 30px; /* Adjust this value according to your icon size */
}

.input-with-icon i {
  position: absolute;
  right: 15px; /* Adjust this value according to your icon position */
  top: 50%;
  transform: translateY(-50%);
}

.hide {
  display: none;
}
/* numeric box code here  */
.numeric-box {
  justify-content: center;
  /* align-items: center; */
  display: inline-flex;
  gap: 15px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.numeric-input {
  width: 50px; /* Adjust as needed */
  text-align: center;
  color: white;
  background-color: black;
  border: none;
}

.negative-sign,
.positive-sign {
  padding: 0 5px;
  color: white;
  font-weight: bold;
}
.five p {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
}
.one p {
  display: flex;
  align-items: center;
  color: #fff;
  /* margin-top: 10px; */
  font-size: 16px;
}

/* Dropdown code here  */

/* Google map api code here  */

@media screen and (max-width: 768px) {
  .rate {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .image {
    /* display: none; */
    visibility: hidden;
  }
  .form-control {
    margin-bottom: 5px;
  }
  .form-container-main {
    width: 100%;
    margin: auto;
  }
  .five p {
    text-align: center;
    display: block;
    margin-top: -4px !important;
  }
  .one p {
    text-align: center;
    display: block;
    margin-top: -4px !important;
  }
  .heading {
    color: #fff;
    text-align: center;
    /* margin-top: 20px; */
    top: 60px !important;
    padding-bottom: 0rem;
  }
  /* ....  */
  .portfolio-button-item.qodef--active {
    color: white;
    background-color: #007bff;
    text-align: center;

    /* Active button color */
  }
  .portfolio-button-item {
    display: inline-block;
    padding: 20px 40px;
    margin-right: 5px;
    border-radius: 3px; /* Adjust as needed */
    background-color: white; /* Default button background color */
    color: #007bff; /* Default button text color */
    text-decoration: none;
    text-align: center;
  }
  .portfolio-button-item.qodef--active {
    background-color: #007bff; /* Active button background color */
    color: white; /* Active button text color */
  }
}

@media only screen and (max-width: 772px) {
  .first {
    text-align: center;
    margin-right: 72px;
  }
}
.map-container {
  position: absolute;
  z-index: 9999;
  background: grey;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.small-input {
  width: 50px; /* Adjust the width as needed */
  /* You can also adjust height, padding, font-size, etc. */
}

.form-control option[value="AC"],
.form-control option[value="Non AC"] {
  font-weight: bold;
}
.custom-dropdown select option {
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
.loader {
  color: blue; /* Change this to the desired color */
}

.multiselect__input {
  border: 1px solid #ced4da;
  /* Adjust border properties as needed */
}

.dropdown-menu {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-height: 200px;
  /* Set maximum height to enable scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  background-color: #fff;
  /* Set background color */
}

.dropdown-menu li {
  cursor: pointer;
  /* Set cursor to pointer for better UX */
  padding: 8px 12px;
  /* Add padding to improve readability */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
  /* Change background color on hover */
}

.dropdown-menu .highlighted {
  background-color: #f0f0f0;
  /* Set background color for highlighted item */
}

/* ................. */
/* portfolio button code  */
.portfolio-button .portfolio-button-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .portfolio-button .portfolio-button-item .qodef--active,
.portfolio-button .portfolio-button-item:hover {
  color: #2b2b2b;
} */

.portfolio-button-items a {
  color: #007bff;
}
.portfolio-button-items a:hover {
  /* color: blue; */
  color: white;
  background-color: #007bff;
  color: #007bff;
  background-color: white;
}
.portfolio-button .portfolio-button-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 27px;
  padding: 3px 0 0 4px;
  transition: color 0.3s ease-out;
  font-family: Spectral, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.63em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration: none;
  margin-top: 10px;
}
.portfolio-button-item.qodef--active {
  color: white;
  background-color: #007bff;
  /* Active button color */
}
/* ...........  */

.portfolio-button-item {
  display: inline-block;
  padding: 20px 40px;
  margin-right: 5px;
  border-radius: 3px; /* Adjust as needed */
  background-color: white; /* Default button background color */
  color: #007bff; /* Default button text color */
  text-decoration: none;
  margin-top: 10px;
}

.portfolio-button-item.qodef--active {
  background-color: #007bff; /* Active button background color */
  color: white; /* Active button text color */
  margin-top: 10px;
}
